<div>

    <h2>CREATE AN ACCOUNT</h2>
    <p>Sign up and you'll be able to manage your account</p>


    <form action="/auth/signup" method="POST">
        
        <label for="username">Username:</label>
        <input type="text" name="username">
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password">
        <br>

        <p style="color:red">{{errorMessage}}</p>

        <button>Create account</button>


    </form>
</div>